/* HTML */
*{
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    scroll-snap-type: y mandatory; 
    scroll-behavior:smooth;
}

h1{
    font-weight: 300;
    font-size: 2rem;
    color: white;
}

p{
    font-weight: 200;
}

/* EVERY PAGE */

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    /* background-image: url(images/frame.png); */
}

/* HOMEPAGE - PAGE 1 */


.homepage {
    background-image: url(images/wallpaperbetter.jpg);
    /* background-image: linear-gradient(135deg,
                        black,red,rgb(196, 125, 125),red,black        
    ); */
    background-color: rgb(43, 42, 42);
    color: rgb(223, 223, 223);
    background-size: cover;
    
}
.homepage p{
    position: absolute;
    /* bottom: 5%; */
}

/* HEADER */

.header{
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000; 
    backdrop-filter: blur(10px);
    gap: 20px; 

}

.logo{
    width: 150px;
    margin-left: 40px;
    cursor: pointer;
}

.navbar{
    display: flex;
    position: absolute;
    right: 20%;
    gap: 10px;
    
}
.navbar a{
    padding: 5px 20px;
    background-color:transparent;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 8px;
    position: relative;
}

/*YPOGRAMISMOS TWN STOIXEIWN NAVBAR STO HOVERING*/
.navbar a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 1px;
    background-color: transparent;
    transition: width 0.5s ease;
}

.navbar a:hover::before {
    background-color: rgb(228, 228, 228); /* Change underline color on hover */
    width: calc(100% - 1px); /* Expand underline width to 100% minus 1px */
    
}

/* TO BURGER ENERGOPOIEITAI OTAN WIDTH<768PX TO BLEPEIS STA @MEDIA */
.burger{
    display: none;
    margin-right: 10%;
    cursor: pointer;
    position: relative; /*DEN KSERW AN XREIAZETAI*/

}



  @keyframes scroll-line{
    to{scale: 1 1;}
  }

  /* HOMEPAGE  HERO SECTION*/

  .hero-homepage{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    left: 20%;
}
.typingAnimation{
    height: 40px;
}

/* HOMEPAGE BUTTONS */
#buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#work-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#work-btn:hover a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#work-btn{
    padding:5px 30px;
    border: 2px rgb(255, 255, 255) solid;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
}

#work-btn:hover{
    padding:5px 30px;
    border: 2px white solid;
    background-color: white;
    color: rgb(22, 22, 22);
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;

}

#about-btn{
    padding:5px 30px;
    border: 2px white solid;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
   
}
#about-btn a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#about-btn:hover{
    padding:5px 30px;
    border: 2px rgb(255, 255, 255) solid;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
    border-radius: 8px;
}


.about-page button{
    width: 180px;
}
/* TELEIES DEKSIA XREIAZONTAI PROGRAMMATISMO */

.navigation-indicator {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; 
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
    transition: transform 0.5s; 
  }
  
  .dot.active {
    transform: scale(1.6); 
    background-color: white;
  }
  


  /* ABOUT PAGE - PAGE 2 */

  .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/background/darkbg-programmer.jpeg);
    background-size: cover;
    color: white;
    opacity: 1;
    position: relative;

}

/* ABOUT HERO SECTION */

.about-hero{
    /* border-radius: 36px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
}

/* TO KEIMENO MAZI ME THN EIKONA */
.about{
    width: 80%;
    min-height: 400px;
    max-width: 900px;
    gap: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background-color: rgba(68, 64, 64, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 4px 1px rgb(78, 73, 73);

}


/* KEIMENO */
.about-hero p{
    font-size: 1rem;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 50ch;
    font-weight: 300;
    min-width: 300px; 
    color: rgba(255, 255, 255, 0.7);
}

/* GRAMMH */

.about-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.line{
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.76);
    width: 50px;
    height: 3px;
    margin-right: 10px;
    border-radius: 62px;

}

/* EIKONA */
#aboutImage{
    width: 250px;
    height: auto;
    /* margin-right: 0; */
    padding: 40px;
}

.about-page button{
    width: 180px;
    
}

/* 3 STHLES ME KEIMENO - MINIMAL KTL */

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    width: 90%;
}

.tab{
    background-color: rgba(24, 17, 17, 0.2);
    backdrop-filter: blur(20px);

    width: 300px;
    height: 140px;
    display: flex;
    flex-direction: column;
    text-align: left;
    
    /* border: 1px solid; */
    transition: transform 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.tab:hover{
    transform: scale(1.05) ;
    box-shadow: 0 0 15px rgb(133, 133, 133);
    /* transform: translateY(30%); */
}
.tab:hover .tab-content{
    /* transform: scale(1.05) ; */
    transform: translateY(-45%);
}
.tab-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(7%);
    transition: transform 0.5s ease;

}
.tab h2{
    margin-bottom: 10px;
    font-size: 1rem;

}

.tab p{
    margin: 0;
    font-size: 0.8rem;
}
.tabImage{
    /* width: 180px; */
    height: 65px;
    margin-bottom: 5px;
    background-size: cover;
}

/* OI YPOLOIPES SELIDES */

.skills-page {
    background-color: #113f5e;
    opacity: 0.5; 
    animation: fade-in linear;
    animation-timeline: view();/* Initially set opacity to 0 for fade-in effect */
}

/* WORK PAGE */

.work-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/wallpaperbetter.jpg);
    background-size: cover;
    color: white;
    opacity: 1;
    position: relative;
}
.work-hero{
    backdrop-filter: blur(2px);
    border-radius: 36px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
}
/* TO KEIMENO MAZI ME THN EIKONA */
.work{
    width: 80%;
    gap: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.work h1{
    margin-left: 55px;
}

.work button{
    width: 180px;
    margin-left: 55px;
}
#workImage1{
    width: 646px;
    height: auto;
}
#workImage2{
    width: 646px;
    height: auto;
}


/* CONTACT  PAGE*/


.contact-page {
    background-image: url(images/background/darkbg-programmer.jpeg);
    background-size: cover;
    
    
}
.contact{
    width: 80%;
    min-height: 500px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
    background-color: rgba(209, 200, 200, 0.1);
    padding-left: 20px;
    gap: 20px;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    /* box-sizing: border-box; */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 

}

.contact-hero{
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:center;
    background-image: linear-gradient(45deg,
    rgba(0, 0, 0, 0.5),rgba(22, 20, 20, 0.5),rgba(0, 0, 0, 0.5)        
); 
    height: 460px;
    margin: 0;
    backdrop-filter: blur(20px);
}
.contact h1{
    margin: 0;
    color:#ebebeb;
    font-size: 2rem;
    font-weight: 500;
}
.contact h2{
    color:#e2e2e2;
    margin: 20px 0;
    font-weight: 300;
}
.contact-hero p{
    font-size: 0.8rem;
    font-weight: 300;
    max-width: 400px;
    min-width: 300px;
    color: rgba(243, 237, 237, 0.611);
    margin: 0;

}

.socialSection{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
/* FORMA EPIKOINWNIAS */

form {
    background-color:transparent; 
    padding: 20px;
    border-radius: 8px;
    /* backdrop-filter: blur(1px);  */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  */
       
    max-width: 400px;    
    position: relative;
    height: 460px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff; /* Text color */
    font-size: 20px;
    border-bottom: 2px solid  rgba(255, 255, 255, 0.3);
}
input[type="text"]::placeholder,
input[type="email"]::placeholder{

    color: hsla(0, 0%, 100%, 0.7); /* Placeholder color */
    font-size: 16px;
    transition: all 0.3s ease;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 

}
textarea::placeholder{

    color: hsla(0, 0%, 100%, 0.7); /* Placeholder color */
    font-size: 16px;
    transition: all 0.3s ease;
    position: absolute;
    left: 10px;
    top: 20px;
    transform: translateY(-50%);
    pointer-events: none; 

}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none !important;
}
input[type="text"]:focus::placeholder,
    input[type="email"]:focus::placeholder{
        top: -5px; 
        
    }
    textarea:focus::placeholder {
        top: -15px; 
    }

input[type="submit"] {
    background-image: linear-gradient(to right, rgb(206, 50, 50),hsl(0, 58%, 55%), rgb(206, 50, 50)); /* Darker green on hover */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-image: linear-gradient(to right, rgb(207, 98, 98),hsl(0, 46%, 65%), rgb(211, 98, 98)); /* Darker green on hover */
}

@keyframes fade-in{
    from {scale: 1; opacity: 0.5;}
    to {scale: 1; opacity: 1;}
}

/* FOR JAVASCRIPT */
/* .transparent-background {
    background-color: transparent !important;
} */

@media (max-width: 768px) {

    h1{
        font-size: 1.5rem;
    }
    body,html{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* scroll-snap-type: none;
        scroll-behavior: auto; */
        background-image: linear-gradient(to right, rgb(24, 24, 24),rgb(15, 13, 13),rgb(12, 12, 66));
        
    }
    
    #home{
        height: 100vh;
        background-color: black;
    }
    .homepage{
        background-size: cover;
        /* background-image: none; */
    }
    .homepage p{
        display: none;    
    }
    .hero-homepage{
        margin: 0;
        padding: 0;
        display: flex;
        position:static;
        max-width: 350px;
    }
    #about-btn a{
        text-decoration: none;
    }
    .header{
        width: 100%;
        min-width: 480px;
        display: flex;
        margin: 0;
        justify-content: space-between;
       

    }
    .burger {
        display: block; /* Display the burger menu on small screens */
        height: 30px; /* Set the height of the burger menu */
        width: auto; /* Allow the width to adjust automatically */
        /* margin-right: 20%;  */
    }
    .navbar {
        display: none; /* Hide the navbar on small screens */
    }
    #about{
        height: 120vh;
    }
    .about-page{
        /* background-image: none; */
        justify-content: center;

    }
    .typingAnimation{
        height: 70px;
        width: 200px;
        display: inline-block;
        position: relative;
    }
    .about-hero{
        margin-top: 40px;

        align-items: center;
        max-width: 90%;

    }
    .about-hero p{
        font-size: 1rem;
        margin-bottom: 40px;
    }
    .tabs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .tab{
        width: 200px;
    }
    .tab p{
        font-size: 0.6rem;
    }
    #aboutImage{
        display: none;
    }
    #work{
        height: 100vh;
    }
    .work{
        flex-direction: column-reverse;
        margin-bottom: 0;

    }
    .work h1{
        margin-left: 0;
        max-width: 350px;
    }
    .work button{
        margin-left: 0;
    }
    .work-hero{
        align-items: center;
    }
    #workImage1{
        width: 90%;
    }
    
    #workImage2{
        width: 90%;
    }
    #contact{
        height: 120vh;
    }
    .contact{
        flex-direction: column;
     }
     .contact-hero{
        margin-top: 100px;
        justify-content: center;
        width: 80%;
        padding: 0;
        align-items: left;
     }
   .contact h2{
        font-size: 1rem;
   }
   
    .contact-hero p{
        font-size: 1.1rem;
    }
    .social img{
        width: 40px;
    }
    .logo{
        width: 130px;
    }

  
    form{
        max-width: 80%;
    }
}
