
/* HTML */
*{
    box-sizing: border-box;
}

:root{

    /* COLORS */
    --dark-bg-color:black;
    --light-bg-color:white;
    --dark-color:white;
    --light-color:black;

    /* FONT */
    --font-poppins:'Poppins',Arial, Helvetica, sans-serif;

    --heading-fontsize:2rem;
    --heading-fontweight:400;

    --nav-fontsize:1rem;
    --nav-fontweight:300;

    --paragraph-fontsize:1rem;
    --paragraph-fontweight:200;

    --button-fontsize:0.8rem;

}

body, html {
    padding: 0;
    margin: 0;
    font-family: var(--font-poppins);
    scroll-snap-type: y mandatory; 
    scroll-behavior:smooth;
}

h1{
    font-weight: var(--heading-fontweight);
    font-size: var(--heading-fontsize);
    color: var(--dark-color);
}

p{
    font-weight: var(--paragraph-fontweight);
}

/* EVERY PAGE */

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* HOMEPAGE - PAGE 1 */


.homepage {
    /* background-image: url(images/wallpaperbetter.jpg); */
    background-color:var(--dark-bg-color);
    color:var(--dark-color);
    background-size: cover;
}


/* HEADER */

.header{
    width: 100%;
    margin: 0;
    height: 80px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000; 
    backdrop-filter: blur(10px);
  }

.logo{
    width: 150px;
    position: absolute;
    left: 10%;
    top: 20%;
    cursor: pointer;
}

.navbar{
    display: flex;
    position: absolute;
    right: 10%;
    gap: 20px;
    
}
.navbar a{
    padding: 5px 20px;
    background-color:transparent;
    color:var(--dark-color);
    font-size: var(--nav-fontsize);
    font-weight: var(--nav-fontweight);
    text-decoration: none;
    border-radius: 8px;
    position: relative;
}

/*YPOGRAMISMOS TWN STOIXEIWN NAVBAR STO HOVERING*/
.navbar a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 10px;
    background-color: transparent;
    transition: width 0.5s ease;
}

.navbar a:hover::before {
    background-color: var(--dark-color); 
    width: calc(100% - 20px); 
    
}

/* TO BURGER ENERGOPOIEITAI OTAN WIDTH<768PX TO BLEPEIS STA @MEDIA */
.burger{
    display: none;
    position: absolute; /*DEN KSERW AN XREIAZETAI*/
    right: 10%;
    cursor: pointer;

}

  /* HOMEPAGE  HERO SECTION*/

  .hero-homepage{
    display: flex;
    flex-direction: column;
    position: absolute; 
    left: 20%;
}
.typingAnimation{
    height: 40px;
}

/* HOMEPAGE BUTTONS */
#buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#work-btn a{
    text-decoration: none;
    color:var(--dark-color);
}
#work-btn:hover a{
    text-decoration: none;
    color: var(--light-color);
}
#work-btn{
    padding:5px 30px;
    border: 2px var(--dark-color) solid;
    background-color: transparent;
    color: var(--dark-color);
    font-size: var(--button-fontsize);
    border-radius: 8px;
    cursor: pointer;
}

#work-btn:hover{
    padding:5px 30px;
    border: 2px var(--light-bg-color) solid;
    background-color:var(--light-bg-color);
    color: var(--light-color);
    border-radius: 8px;
    cursor: pointer;
}

#about-btn{
    padding:5px 30px;
    border: 2px var(--dark-color) solid;
    background-color:var(--light-bg-color);
    font-size:var(--button-fontsize);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: start;
    justify-content: start;
}
#about-btn a{
    text-decoration: none;
    color:var(--light-color);
}

#about-btn:hover{
    border: 2px var(--light-bg-color) solid;
    background-color:var(--light-bg-color);
    color:var(--light-color);
    font-size: var(--button-fontsize);
    border-radius: 8px;
}
#dark-icon{
    width: 20px;
}
#light-icon{
    width: 20px;
    display: none;
}
/* TELEIES DEKSIA XREIAZONTAI PROGRAMMATISMO */

.navigation-indicator {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; 
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
    transition: transform 0.7s; 

}
  
  .dot.active {
    transform: scale(1.6); 
    background-color:var(--dark-color);
  }
  


  /* ABOUT PAGE - PAGE 2 */

  .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(images/background/keyboardbg.jpg); */
    background-size: cover;
    position: relative;
}

/* ABOUT HERO SECTION */

.about-hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
}

/* TO KEIMENO MAZI ME THN EIKONA */
.about{
    width: fit-content;
    min-height: 400px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(68, 64, 64, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    padding: 30px;
    box-shadow: 1px 1px 3px rgba(185, 171, 171, 0.2);

}
.about-skills{
    max-width: 900px;
    height: 80px;
    background-color:transparent;
    border-radius: 16px;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.about-h2{
    color: white;
    margin: 10px 0 0 0;
}
.about-skills img{
    width: 50px;
    height: 40px;
}
.about-skills img:hover{
    transform: scale(1.05);
}
/* KEIMENO */
.about-hero p{
    font-size: var(--paragraph-fontsize);
    max-width: 50ch;
    font-weight: var(--paragraph-fontweight);
    color: var(--dark-color);
}

/* GRAMMH */

.about-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.line{
    border: none;
    border-bottom: 3px solid var(--dark-color);
    width: 50px;
    height: 3px;
    margin-right: 8px;
    border-radius: 62px;
}

/* EIKONA */
#aboutImage{
    margin: 50px;
    width: 350px;
    height: auto;
}


.about-page button{
    width: 180px; 
}

/* 3 TABS ME KEIMENO */

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 90%;
}

.tab{
    background-color: rgba(24, 17, 17, 0.2);
    backdrop-filter: blur(20px);
    width: 260px;
    height: 150px;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: transform 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    padding: 12px;
    border-radius: 16px;
    /* box-shadow: 0 0 5px var(--dark-color); */
}

.tab:hover{
    transform: scale(1.05) ;
    box-shadow: 0 0 10px rgb(133, 133, 133);
}
.tab:hover .tab-content{
    /* transform: scale(1.05) ; */
    transform: translateY(-40%);
}
.tab-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(8%);
    transition: transform 0.5s ease;

}
.tab ul{
    margin: 0;
    padding: 1px 0 0 0;
    
}
.tab li{
    color: white;
    font-size: 0.7rem;
}
.tab h2{
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--dark-color);
}

.tab p{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.61);
}
.tabImage{
    height: 65px;
    margin-bottom: 5px;
    background-size: cover;
}

/* PROJECTS PAGE */

#projects{
    /* background-color: var(--dark-bg-color); */
    /* background-image: url(images/background/keyboardbg.jpg); */
    background-size: cover;
}
.projects-container{
    width: 80%;
    height: 80vh;
    background-color: rgba(68, 64, 64, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    padding: 30px;
    box-shadow: 1px 1px 3px rgba(185, 171, 171, 0.2);
    text-align: center;
}
.projects-container h1{
    font-size: 2.7rem;
    font-weight: 400;
}

/* SLIDER */

.slider{
    position: relative;
    width: 60%;
    margin: auto;
    overflow: visible;
    border-radius: 32px;
}
.slide{
    height: 600px;
    text-align: center;

}
.slide h1{
    font-size: 1.8rem;
}
.slide p{
    color: white;
    font-size: 1rem;
    font-weight: 300;
}
.slide img{
    width: 400px;
    height: 300px;
}

.slider .slide{
    width: 100%;
    display: none;
    border-radius: 32px;
}
.project-btn{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    width: 340px;
    border-radius: 8px;
}
.project-buttons a{
    text-decoration: none;
    color: white;
    padding: 0 80px ;
}
a{
    text-decoration: none;
}
.project-btn a:hover{
    color: black;

}
.project-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.project-btn:hover{
    background-color: #ffffff;
    color: black;
}
.right-section-wakamo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 2s;
}

.slider button{
    height: 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20%;
}
.slider button:hover{
    height: 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(105, 105, 105, 0.2);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20%;
}
.slider button:active{
    background-color: rgba(105, 105, 105, 0.8);
}
.prev{
    left: -40px;
    overflow: visible;
    z-index: 100;
}
.next{
    right: -40px;
}

@keyframes fade {

    from {opacity: .6}
    to {opacity: 1;}
    
}

/* WORK PAGE */

.work-page {
    align-items: center;
    justify-content: center;
    /* background-color: var(--dark-bg-color); */
    background-image: url(images/wallpaperbetter.jpg);
    /* background-size: cover; */
    position: relative;
    color: var(--dark-color);
}

.work-hero{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
}
/* TO KEIMENO MAZI ME THN EIKONA */
.work{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 8px;
}

.work button{
    width: 180px;
    color: var(--dark-color);
}
.work button:hover{
    width: 180px;
    color: var(--light-color);
}
#workImage1{
    width: 520px;
    height: auto;
}
#workImage2{
    width: 520px;
    height: auto;
}

/* JAVASCRIPT PROJECTS  */
.thumbnail {
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 700;
    transition: transform 0.5s ease;
}
.thumbnail:hover{
    transform: scale(1.05);
    box-shadow: 0 0 2px black;
}
.thumbnail-memory{
    background-image: url(images/icons/memorygame.png);
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-size: cover;
}
.thumbnail-slots{
    background-image: url(images/icons/slot7.png);
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-size: cover;
}
.thumbnail-roulette{
    background-image: url(images/icons/roulette.png);
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-size: cover;
    border-radius: 50%;
}
.thumbnail-millionaire{
    background-image: url(images/icons/millionaire.png);
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-size: cover;
    border-radius: 50%;
}
.thumbnail a{
    text-decoration: none;
    color: rgba(219, 219, 219, 0.753);
    width: 150px;
}
/* Styles for popup content */
.popup-content {
    padding: 20px;
}
.thumbnails{

    display: flex;
}
.javascript-page {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--dark-bg-color); */
    /* background-image: url(images/wallpaperbetter.jpg); */
    /* background-size: cover; */
    position: relative;
    color: var(--dark-color);
}
.javascript-projects{
    height: 200px;
}

/* CONTACT  PAGE*/


.contact-page {
    /* background-image: url(images/background/darkbg-programmer.jpeg); */
    background-size: cover;
    
    
}
.contact{
    width: 80%;
    /* height: 400px; */
    background-color: rgba(0, 0, 0, 0.192);
    padding: 20px;
    color: whitesmoke; 
    border-radius: 16px;
    backdrop-filter: blur(20px);
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-around;

}
.basicContact{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}
.sideContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 300px;
    height: 400px;
    border-radius: 0 16px 16px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.425),rgba(0, 0, 0, 0));
}
.contact button {
    display: block;
    width: 320px;
    padding: 10px;
    background-color: #ff00008e;
    color: #ffffffb4;
    border: none;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact button:hover{
    background-color: #ff0000ad;
    color: white;
}

.socialSection{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 8px;
}



.contact p{
    font-size: 0.9rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.799);
    
}
.contact span{
    font-size: 1.5rem;
}
.contact h4{
    display: flex;
    gap: 8px;
    font-size: 0.7rem;
    align-items: center;
    font-weight: 400;
    margin: 0;
}
.contact h4:hover{
    color: rgba(255, 255, 255, 0.664);
    cursor: pointer;
}
.social{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.icon{
    width: 30px;
    opacity: 0.5;
}
.icon:hover{
    opacity: 1;
    cursor: pointer;
}
.contact h3{
    margin: 0;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.829);
}
/* FORMA EPIKOINWNIAS */

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


input[type="text"],
            input[type="email"],
            textarea {
                width: 300px;
                padding: 10px;
                color: white;
                margin: 0;
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.05);
                border: none;
                border-bottom: 2px solid rgba(255, 255, 255, 0.308);
            }
            input::placeholder{
                color: rgba(255, 255, 255, 0.555);
                font-size: 0.8rem;
                font-family: 'Poppins';
                font-weight: 300;
                position: relative;
                transition: all 0.3s ease;
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none; 

            }
            input[type="text"]:focus,
            input[type="email"]:focus,
            textarea:focus {
                outline: none !important;
            }
            input[type="text"]:focus::placeholder,
            input[type="email"]:focus::placeholder{

                top: -25px;  
                overflow: visible;   
            }
            textarea:focus::placeholder {
                top: -15px; 
            }
@keyframes fade-in{
    from {scale: 1; opacity: 0.5;}
    to {scale: 1; opacity: 1;}
}

/* FOR JAVASCRIPT */
/* .transparent-background {
    background-color: transparent !important;
} */

@media (max-width: 768px) {
    .moviedb-page{
        height: 120vh;
    }
    .calc-page{
        height: 150vh;

    }
    .wakamo-page{
        height: 130vh;
    }
    .burger {
        display: block; /* Display the burger menu on small screens */
        height: 30px; /* Set the height of the burger menu */
        width: auto; /* Allow the width to adjust automatically */
    }
    h1{
        font-size: 1.5rem;
    }
    body,html{
        
        scroll-snap-type: none;
        scroll-behavior:smooth; 
        transition: all 0.3s ease;

    }

      .nav-menu{
          position: fixed;
          height: 100vh;
          width: 340px;
          background-color: hsla(0, 0%, 86%, 0.5);
          right: -100%;
          z-index: 999;
          backdrop-filter: blur(16px);
          display: flex;
          flex-direction: row;
      }
      .navbar-mobile{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;
          position: fixed;
          top: 20%;
          right: 0;
          gap: 28px;
  
      }
      .navbar-mobile a{
          text-decoration: none;
          color: white;
          font-size: 2.8rem;
          background-color:transparent;
          width: 340px;
          padding-left: 50px;
  
      }
      .navbar-mobile a:hover{
          text-shadow: 2px 2px rgb(44, 44, 44);
          background-color: #bbb;
      }
      
      .burger-menu {
          width: 30px;
          cursor: pointer;
          position: fixed;
          top: 20px;
          right: 20px;
          z-index: 1000; /* Ensures the burger menu is above other elements */
        }
       
        .bar {
          width: 100%;
          height: 4px;
          background-color: rgb(202, 202, 202);
          margin: 5px 0;
          transition: all 0.3s ease; /* Smooth transition for the transformation */
        }
        .burger-menu.open .bar:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px); /* Top bar transforms to part of X */
        }
    
        .burger-menu.open .bar:nth-child(2) {
          opacity: 0; /* Middle bar disappears */
        }
    
        .burger-menu.open .bar:nth-child(3) {
          transform: rotate(-45deg) translate(8px, -8px); /* Bottom bar transforms to part of X */
        }
        #nav-menu.open {
          right: 0; /* Slides in the nav menu */
        }
        
        .navbar-mobile .social{
          padding-left: 50px;
        }
    #home{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about-btn a{
        text-decoration: none;
    }
    #work-btn{
        text-align: center;
    }
    .typingAnimation{
        height: 40px;
        width: 300px;
    }
    .header{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar {
        display: none; /* Hide the navbar on small screens */
    }
   
    .about-page{
        /* background-image: none; */
        justify-content: center;

    }
    
    .red{
        color: red;
    }
    .about-hero{
        align-items: center;
        width: 380px;
        padding: 24px;
    }
    .about{
        padding: 20px 5px;

    }
    .about-hero p{
        font-size: 1rem;
        margin-bottom: 40px;
    }

    .tabs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .tab{
        width: 260px;
    }
    .tab p{
        font-size: 0.8rem;
    }
    #aboutImage{
        display: none;
    }
    .projects-container{
        width: 80%;
        min-height: 80vh;
        padding: 0;
    }
    .projects-container h1{
        font-size: 1.6rem;
    }
    .work{
        flex-direction: column-reverse;
        margin-bottom: 0;
    }
    .slide p{
        font-size: 1rem;
        font-weight: 200;
    }
    .slide img{
        width: 300px;
        height: 225px;
    }
    .work h1{
        margin-left: 0;
        max-width: 350px;
    }
    .work button{
        margin-left: 0;
    }
    .work-hero{
        align-items: center;
    }
    #workImage1{
        width: 90%;
    }
    
    #workImage2{
        width: 90%;
    }
    .prev{
        left: -80px;
       
    }
    .next{
        right: -80px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     
   .contact h2{
        font-size: 1rem;
   }
   
    .contact-hero p{
        font-size: 1.1rem;
    }

    .social img{
        width: 40px;
    }
    .logo{
        width: 130px;
    }

    
    form{
        max-width: 80%;
    }
}


@media (max-width: 480px) {
    

    
    #buttons{
        flex-direction: column;
        width: 220px;
    }
   .slide img{
    width: 200px;
    height: 200px;
   }
   .about-hero{
    align-items: center;
    width: 300px;
    padding: 24px 0;
}
   .about{
    text-align: center;
    padding: 0;
    justify-content: center;
   }
   .prev{
    left: -40px;
   
}
    .next{
    right: -40px;
}
   .about-hero h1{
    margin: 0;
   }
   .tab{
    width: 100%;
    height: 120px;
    padding: 0;
    justify-content: center;
}
   .tab-content{
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;

    transform: none;
    transition: none;
   }
   .tab h2{
    display: none;
   }
   .tab p{
    width: 200px;
   }
   .tab:hover{
    transform: none ;
    box-shadow: 0 0 10px rgb(133, 133, 133);
}
.tab:hover .tab-content{
    /* transform: scale(1.05) ; */
    transform: none;
}
.slider button{
    height: 100px;
    margin: 0;
}
.contact{
    padding: 0;
    justify-content: center;
    align-items: center;
}
.basicContact{
    align-items: center;}
.calcmycrypto p{
    width: 350px;
}
.calcmycrypto img{
    margin-top: 200px;
}
.javascript-projects{
    height: 400px;
    flex-wrap: wrap;
}
.thumbnails{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

}